.hero-overlay {
  margin: 0 auto;
  max-width: 1600px;

  background-image: linear-gradient(getBgc('hero-banner'), getBgc('hero-banner')),
    url(../images/herobanner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: getBgc('hero-default');
}

.hero-thumb {
  text-align: center;
  align-items: center;

  padding-top: 200px;
  padding-bottom: 200px;
}
