.adv-list__thumb-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 270px;
  min-height: 120px;

  border-radius: 4px;

  background-color: getBgc('secondary');
}
