.contact-list {
  display: flex;

  &__link {
    display: flex;
    align-items: center;
    display: inline-flex;

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    $secondaryColor: #757575;
    color: $secondaryColor;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    $fill: #757575;
    fill: $fill;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
