body {
  background-color: getBgc('primary');
  color: getColor('primary');

  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  outline: 1px solid tomato;
}
